[Desktop Entry]
Name=Panon
Comment=A Different Audio Spectrum Analyzer
Icon=applications-multimedia

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=rbn42
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=panon
X-KDE-PluginInfo-Version=0.2.16
X-KDE-PluginInfo-Website=github.com/rbn42/panon
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Provides=panon
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
