[Desktop Entry]
Name=Panon
Comment=A Different Audio Spectrum Analyzer
Icon=music

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=rbn42
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=io.github.rbn42.panon
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=rbn42.github.io
X-KDE-PluginInfo-Category=Eye Candy
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Provides=io.github.rbn42.panon
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
