[Desktop Entry]
Name=Binary Clock tutor
Comment=Time displayed in binary format
Icon=clock

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Joseph Wenninger,Davide Bettio,Piotr Kąkol
X-KDE-PluginInfo-Email=jowenn@kde.org, davide.bettio@kdemail.net, piotrkakol@protonmail.com
X-KDE-PluginInfo-Name=org.kde.tutorial
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
